
    <h3>Bonjour,</h3>

    <p>Félicitations, vous venez de vous inscrire chez Gruppetto!<br> Vous avez désormais accès à votre compte. </p>

    <p>A très bientôt,<br>
        Gruppetto</p>
    <img src="assets/pictures/logo_club.png" alt="">
